*{
    box-sizing: border-box;
}
body{
    background-color: gray;
}
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 15px;
    size: 75%;
}
p{
   position: relative;
    background-color:magenta;
    width: 90%;
    height: 150px;
    border: 1px solid yellow;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 10px;
}
.title{
   position: absolute;
   right: 0%;
   top:0%;
    background-color: red;
    border: 1px solid black;
    size: 85%;
    
    
}
.title2{
    position: absolute;
    right: 0%;
    top:0%;
     background-color: pink;
     border: 1px solid black;
     size: 25%;
     
     
 }
 .title3{
    position: absolute;
    right: 0%;
    top:0%;
     background-color: greenyellow;
     border: 1px solid black;
     size: 25%;
     
     
 }
@media(min-width:992px){
    
.bg {
    
    float: left;
    width: 33%;

}
}
@media(min-width:761px) and (max-width:991px){
    .bg{
        
        width: 50%;
        float: left;
    }
    .th{
        width: 100%;
        float:left;
    }

}
@media(max-width:760px){
    .bg{
        
        width: 100%;
    }
}


